
<ul class="list-group list-group-flush flow-tags-list" data-project_guid="{{ project.get_project_guid() }}">
    {% for tag in project.get_all_owned_tags_in_project(true) %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-12 col-xl-6 flow-tag-show-edit-on-click" data-tag_guid="{{ tag.flow_tag_guid }}">
                <span class="flow-tag-list-name flow-tag-display  flow-tag-{{ project.get_project_guid() }}"
                      data-tag_guid="{{ tag.flow_tag_guid }}"
                      style="display: none"
                >
                    {{ tag.flow_tag_name }}
                </span>
            </div> <!-- /.col -->

            <div class="col-12 col-xl-6">
                <ul class="list-group">
                    {% for applied in tag.applied %}
                        <a href="{% include 'tag/partials/applied/applied-url.twig' with {'applied': applied} %}"
                           class="list-group-item list-group-item-action "
                        >
                            <span class="flow-tag-applied-target-title" data-applied_guid="{{ applied.flow_applied_tag_guid }}">
                            {% include 'tag/partials/applied/applied-title.twig' with {'applied': applied} %}
                            </span>
                        </a>
                    {% endfor %}
                </ul>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </li> <!-- /.list-group-item -->
    {% endfor %}
</ul> <!-- /.list-group -->



<script>


    jQuery(function(){

        update_tags_in_display();

    });




</script>