
<ul class="list-group list-group-flush" data-project_guid="{{ project.flow_project_guid }}">
    {% for tag in project.get_all_owned_tags_in_project(true) %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-12 col-xl-6 flow-tag-show-edit-on-click" data-tag_guid="{{ tag.flow_tag_guid }}">
                <span class="flow-tag-list-name flow-tag-display  flow-tag-{{ project.flow_project_guid }}"
                      data-tag_guid="{{ tag.flow_tag_guid }}"
                      style="display: none"
                >
                    {{ tag.flow_tag_name }}
                </span>
            </div> <!-- /.col -->

            <div class="col-12 col-xl-6">
                <ul class="list-group">
                    {% for applied in tag.applied %}
                        <a href="{% include 'tag/partials/applied/applied-url.twig' with {'applied': applied} %}"
                           class="list-group-item list-group-item-action "
                        >
                            <span class="flow-tag-applied-target-title" data-applied_guid="{{ applied.flow_applied_tag_guid }}">
                            {% include 'tag/partials/applied/applied-title.twig' with {'applied': applied} %}
                            </span>
                        </a>
                    {% endfor %}
                </ul>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </li> <!-- /.list-group-item -->
    {% endfor %}
</ul> <!-- /.list-group -->



<script>
    jQuery(function($){

        /**
         *
         * @type {FlowTag[]}
         */
        let tags_in_project = ({{ project.get_all_owned_tags_in_project(true)|json_encode()|raw }}) || null  ;
        let tags_here = $('.flow-tag-{{ project.flow_project_guid }}');
        if (!tags_here.length) {return;}

        /**
         *
         * @type {Object.<string, FlowTag>} tag_map
         */
        let tag_map = {};
        for(let i = 0; i < tags_in_project.length; i++) {
            let node = tags_in_project[i];
            tag_map[node.flow_tag_guid] = node;
        }
        // noinspection JSCheckFunctionSignatures
        add_tag_attributes_to_dom(tag_map,tags_here,false);
        tags_here.show();

    });




</script>