<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ page_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ root_url }}/node_modules/bootstrap/dist/css/bootstrap.min.css" >

    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="{{ root_url }}/node_modules/bootstrap-icons/font/bootstrap-icons.css" >

    <!-- Toast Wrapper -->
    <link rel="stylesheet" href="{{ root_url }}/node_modules/bs4-toast/dist/toast.min.css">


    <!-- Select2 -->
    <link href="{{ root_url }}/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" >

    <!-- Select2 bootstrap theme -->
    <link href="{{ root_url }}/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" rel="stylesheet" />

    <!-- Tingle -->
    <link href="{{ root_url }}/node_modules/tingle.js/dist/tingle.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="{{ root_url }}/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- SCEditor Include the default theme -->
    <link rel="stylesheet" href="{{ root_url }}/node_modules/sceditor/minified/themes/default.min.css" />
    <link rel="stylesheet" href="{{ root_url }}/public/resources/css/highlight/googlecode.css" />

    <title>{{ page_title }}</title>

    <script src="{{ root_url }}/node_modules/jquery/dist/jquery.min.js" ></script>

    <!-- Make sure to load the highlight.js CSS file before the Diff2Html CSS file -->
{#    <link rel="stylesheet" href="{{ root_url }}/node_modules/ajax/libs/highlight.js/10.7.1/styles/github.min.css" />#}
    <link rel="stylesheet" href="{{ root_url }}/node_modules/diff2html/bundles/css/diff2html.min.css" />

    <link rel="stylesheet" href="{{ root_url }}/public/resources/css/app.css" />
    <link rel="stylesheet" href="{{ root_url }}/public/resources/css/project/project.css" />

</head>
<body class="px-sm-1 px-xl-3 ">

{{ include('main/partials/top-nav.twig') }}

{{ include('main/partials/flash.twig') }}

<main>
    <div class="container-fluid ">

    {{ include( page_template_path ) }}

    </div> <!-- /.container-fluid -->
</main>

{{ include('main/partials/bottom-nav.twig') }}


<script src="{{ root_url }}/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
<script src="{{ root_url }}/node_modules/bs4-toast/dist/toast.min.js"></script>
<script src="{{ root_url }}/node_modules/lodash/lodash.min.js"></script>
<script src="{{ root_url }}/node_modules/select2/dist/js/select2.min.js"></script>
<script src="{{ root_url }}/node_modules/tingle.js/dist/tingle.min.js"></script>

<!-- SCEditor Include the editors JS -->
<script src="{{ root_url }}/node_modules/sceditor/minified/sceditor.min.js"></script>

<!-- SCEditor Include the BBCode format -->
<script src="{{ root_url }}/node_modules/sceditor/minified/formats/bbcode.js"></script>

<script src="{{ root_url }}/public/resources/js/app.js"></script>

<script src="{{ root_url }}/public/resources/js/toast.js"></script>

<script type="text/javascript" src="{{ root_url }}/node_modules/diff2html/bundles/js/diff2html-ui.min.js"></script>

{#{{ dump_session() }}#}

</body>
</html>