<div class="container p-0 m-1">

    <div class="card" style="width: fit-content">

        <div class="card-header">
            Permissions For {{ project.flow_project_title }}
        </div>

        <div class="card-body">
            <h5 class="card-title">
                Editing
            </h5>

            {% if write_users|length == 0 %}
                <span>You are the only one who can edit this</span>
            {% else %}
                <span>
                    The following users can edit this project
                    , besides you
                    <em>{{ project.get_admin_user().flow_user_name }}</em>
                </span>
                <ul>
                    {% for user in write_users %}
                        <li>{{ user.flow_user_name|e }}</li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>

        <div class="card-body">
            <h5 class="card-title">
                Reading
            </h5>

            {% if read_users|length == 0 %}
                <span>This project is publicly readable</span>
            {% else %}
                <span>
                    Only the following users can read this project, besides you
                    <em>{{ project.get_admin_user().flow_user_name }}</em>
                </span>
                <ul>
                    {% for user in read_users %}
                        <li>{{ user.flow_user_name|e }}</li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </div>
</div>