{{ include('entry/partials/entry-breadcrumbs.twig') }}

{% set create_entry_url =  url_for('create_entry_ajax',
        {
            user_name: project.get_admin_user().flow_user_name ,
            project_name: project.get_project_title()
        }) %}


<script src="{{ root_url }}/public/resources/js/entry/edit-entry.js"></script>

<div class="container container-sm container-md container-lg container-xl container-xxl">
    <div class="card col-12">
        <form method="post" action="{{create_entry_url}}" class="flow-ajax-post" id="flow-entry-creator">
            <input type="hidden" id="flow_project_git_hash" value="{{ flow_project_git_hash }}">
            <div class="card-header">
                <h4>
                    New Entry
                    <button type="submit" class="btn btn-lg btn-primary float-end pb-0 pt-0" >
                        <i class="far fa-save pe-1"></i>
                        Save
                    </button>
                </h4>
            </div> <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-xxl-6">
                        <label for="flow_entry_title">
                            Title
                        </label>
                        <input type="text" id="flow_entry_title" name="flow_entry_title"
                               class="form-control" placeholder="Title" required autofocus
                               maxlength="{{ entry.max_title_length }}" value="{{ entry.title }}"
                        >
                    </div>

                    <div class="col-12 col-xxl-6">
                        <label for="flow_entry_blurb">
                            Blurb
                        </label>
                        <textarea type="text" id="flow_entry_blurb" name="flow_entry_blurb"
                                  class="form-control" placeholder="Blurb" required
                                  rows="3" maxlength="{{ entry.max_blurb_length }}"
                        >{{ entry.blurb }}</textarea>
                    </div>
                </div> <!-- /.row -->

                <div class="row">
                    <div class="col-12">
                        <input type="hidden" name="flow_entry_body_bb_code" id="flow_entry_body_bb_code"
                               value="{{ entry.bb_code }}">

                        <label for="flow_entry_body_bb_code_area">Body</label>

                        <textarea type="text" id="flow_entry_body_bb_code_area"
                                  class="form-control" placeholder="Body" required
                                  rows="40"
                        >{{ entry.bb_code }}</textarea>
                    </div> <!-- /.col  -->
                </div> <!-- /.row  -->
            </div>
        </form>
    </div> <!-- /.card -->
</div> <!-- .container -->


{% include 'entry/partials/body-editor.twig' with{
    'textarea_id': 'flow_entry_body_bb_code_area',
    'hidden_id': 'flow_entry_body_bb_code'
} %}

<script>
    jQuery(function ($){
        let da_form = $(`#flow-entry-creator`)
        da_form.on('flow-ajax-post-success',

            /**
             * @param e
             * @param {FlowEntryLifetimeResponse} data
             */
            function(e,data) {
                if (data.entry_url) {
                    window.location.href = data.entry_url;
                } else {
                    my_swal.fire("Cound not find the url after succesful entry creation",data.message ,'warning')
                }
                data[FLOW_AJAX_RESPONSE_FLAG] = true;
            }
        );

        da_form.on('flow-ajax-post-fail',

            /**
             * @param e
             * @param {FlowEntryLifetimeResponse} data
             */
            function(e,data) {

                my_swal.fire("Cound not create entry!",data.message ,'warning')

                data[FLOW_AJAX_RESPONSE_FLAG] = true;
            }
        );
    });
</script>

{{ include('tag/partials/tag-js-support.twig') }}