{{ include('entry/partials/entry-breadcrumbs.twig') }}
<div class="row">

    <div class="card col-12 col-lg-9">

        <div class="card-title">
            <div class="row pt-1">
                <div class="col-6 col-sm-9 ">
                    {{ entry.get_title() }}
                </div> <!-- col -->

                <div class="col-2 col-sm-1 ">
                    {% if project.get_current_user_permissions().can_write %}

                        <button class="btn btn-primary   flow-action flow-entry-edit-action"
                                data-guid="{{ entry.get_guid() }}"
                                data-title="{{ entry.get_title() }}"
                                data-url="{{ url_for('edit_entry',{
                                    user_name: entry.get_project().get_admin_user().flow_user_name ,
                                    project_name: entry.get_project().get_project_title(),
                                    entry_name: entry.get_guid()
                                } )
                                }}"
                        >
                            <i class="bi bi-pencil  "></i>
                        </button>
                    {% endif %}
                </div> <!-- col -->

                <div class="col-2 col-sm-1 ">
                    <button class="btn btn-outline-secondary text-black-50 flow-action-show-tags">
                        Tags
                    </button>
                </div>

                <div class="col-2 col-sm-1 ">
                    {% if project.get_current_user_permissions().can_write %}
                        <button class="btn btn-danger  flow-action flow-entry-delete-action "
                                data-guid="{{ entry.get_guid() }}"
                                data-title="{{ entry.get_title() }}"
                                data-url="{{ url_for('delete_entry_ajax',{
                                    user_name: entry.get_project().get_admin_user().flow_user_name ,
                                    project_name: entry.get_project().get_project_title(),
                                    entry_name: entry.get_guid()
                                } )
                                }}"
                        >
                            <i class="bi bi-trash  "></i>
                            <i class="fas fa-spinner fa-pulse flow-spinner"  style="display: none"></i>
                        </button>
                    {% endif %}
                </div> <!-- col -->

            </div> <!-- row -->

        </div> <!-- card-title -->

        <div class="card-header">
            {{ entry.get_blurb() }}
        </div>

        <div class="card-body flow-show-enty-html">
            {{ entry.get_html() | raw }}
        </div><!-- /.card-body -->
    </div><!-- /.card.col -->
</div> <!-- /.row  -->

<script>
    jQuery(function($) {
        $(`button.flow-action-show-tags`).on('click', function () {
            $(`div.flow-show-enty-html`).find(`.flow-tag-display`).toggleClass('d-none');
            update_tags_in_display(false);
        });

    });
</script>
{{ include('tag/partials/tag-js-support.twig') }}
<script src="{{ root_url }}/public/resources/js/entry/edit-entry.js"></script>