<script>
    let flow_project_get_file_change_ajax_url = "{{-  url_for('get_file_change_ajax',{
        user_name: project.get_admin_user().getFlowUserName() ,
        project_name: project.get_project_title()
    }) -}}";

</script>

<div class="container p-0 m-1">

    <div class="card" style="width: fit-content">

        <h5 class="card-title">
            History For {{ project.get_project_title() }}
        </h5>


        <div class="card-body " id="flow-history-area">

            {% set total_pages = ( project.count_total_public_history()  / history_page_size) | round(0, 'ceil') %}
            {% if (history_page_number >= 1) and (history_page_number <= total_pages)  %}
                {% for history in project.history( (history_page_number-1) * history_page_size , history_page_size,false,true) %}
                    {% if  history.has_changed_public_files  %}
                        <div class="row mb-2 p-1 flow-grid-striped" data-commit="{{ history.commit }}">
                            {{ include('project/partials/history/history-row.twig'  , {'history': history}) }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}


{#            <pre>#}
{#                {{ dump(project.history) }}#}
{#            </pre>#}
        </div>


        {{ include('main/partials/paginition.twig'  , {
            'link_template': url_for('project_history',{
                                        user_name: project.get_admin_user().getFlowUserName() ,
                                        project_name: project.get_project_title()}) ~ '/page/%page%',

            'page_number' : history_page_number,
            'total_pages' : total_pages

            })

        }}

        <div class="card-header">
           <h4>Status For {{ project.get_project_title() }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-group d-inline">
                {% for line in status  %}
                    {% if  line %}
                        <li class="list-group-item d-inline">
                            {{ line }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>


    </div>


</div>