<h2> Projects Page for {{ user.flow_user_name}} </h2>

<div class="flow-project-new-button d-inline-block">
    <a  class="btn btn-outline-primary border border-light" role="button" href="{{ url_for('new_project') }}">
        Make a new project
    </a>
</div>

<div class="flow-project-new-button d-inline-block ms-3">
    <a  class="btn btn-outline-dark  border border-dark" role="button" href="{{ url_for('clone_project') }}">
        Clone project
    </a>
</div>

<dl class="row flow-project-list">
{% for project in my_projects %}
    <dt class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" >

        <a href="{{ url_for('single_project_home',{
            user_name: project.get_admin_user().flow_user_name ,
            project_name: project.flow_project_title
        } )
        }}">
            <span class="flow-project-title">
                {{ project.flow_project_title }}
            </span>
        </a>

    </dt>

    <dd class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">
        <a href="{{ url_for('single_project_home',{
            user_name: project.get_admin_user().flow_user_name ,
            project_name: project.flow_project_title
        } )
        }}">
            <span class="flow-project-blurb">
                {{ project.flow_project_blurb }}
            </span>

        </a>
    </dd>


{% endfor %}
</dl>



<hr>

<code>see own project graph here</code>


