<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class=" bg-light mt-4 p-4">
                <form method="post" action="{{ url_for('update_project',{
                    user_name: project.get_admin_user().flow_user_name ,
                    project_name: project.flow_project_title
                } ) }}" class="row g-3">
                    <h4>Edit Project {{ project.flow_project_title }}</h4>
                    <div class="col-12">
                        <label for="flow_project_title">Project Title</label>
                        <input type="text" id="flow_project_title" name="flow_project_title"
                               class="form-control" placeholder="Title" required autofocus
                               maxlength="40" value="{{ project.flow_project_title }}"
                        >
                    </div>

                    <div class="col-12">
                        <label for="flow_project_blurb">Blurb</label>
                        <textarea type="text" id="flow_project_blurb" name="flow_project_blurb"
                                  class="form-control" placeholder="Blurb" required autofocus
                                  rows="3" maxlength="120"
                        >{{ project.flow_project_blurb }}</textarea>
                    </div>


                    <div class="col-12">
                        <label for="flow_project_readme">Read Me / Description</label>
                        <textarea type="text" id="flow_project_readme" name="flow_project_readme"
                                  class="form-control" placeholder="Blurb" required autofocus
                                  rows="3"
                        >{{ project.flow_project_readme }}</textarea>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-success float-end">Update Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
