{{ include('project/partials/project-breadcrumbs.twig') }}

<script src="{{ root_url }}/public/resources/js/project/project-history.js"></script>

<div class="row">
    <div class="col-12 col-lg-auto ">
        {{ include('project/partials/edit-side-menu.twig') }}
    </div><!-- /.col -->

    <div class="col col-lg-9">
        {{ include('project/partials/history/export-import.twig') }}
        {{ include('project/partials/history/history.twig') }}
    </div><!-- /.col -->

</div> <!-- /.row -->

{{ include('tag/partials/tag-js-support.twig') }}
