<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">
            <a href="{{  url_for('all_projects')  }}">{{ project.get_admin_user().flow_user_name }}</a>
        </li>

        <li class="breadcrumb-item">
            <a href="{{ url_for('single_project_home',{
                user_name: project.get_admin_user().flow_user_name ,
                project_name: project.flow_project_title
            } )
            }}">
                <span class="flow-project-title">
                   Editing {{ project.flow_project_title }}
                </span>
            </a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">History for {{ project.flow_project_title }}</li>
    </ol>
</nav>

<script src="{{ root_url }}/public/resources/js/project/project-history.js"></script>

<div class="row">
    <div class="col-12 col-lg-auto ">
        {{ include('project/partials/edit-side-menu.twig') }}
    </div><!-- /.col -->

    <div class="col ">
        {{ include('project/partials/history/history.twig') }}
    </div><!-- /.col -->

</div> <!-- /.row -->
