<div class="container p-0 m-1 mb-2 mb-lg-0">

    <div class="card" style="width: fit-content">
        <ul class="list-group flex-lg-column  list-group-horizontal flex-wrap flex-md-nowrap  ">

            {% if project.get_current_user_permissions().can_edit %}
            <li class="list-group-item">
                <a class="btn btn-outline-primary border border-light"
                   href="{{ url_for('edit_project',{
                       user_name: project.get_admin_user().flow_user_name ,
                       project_name: project.flow_project_title
                   } )
                   }}">
                    Edit Project
                </a>
            </li>
            {% endif %}


            <li class="list-group-item">
                <a class="btn btn-outline-primary border border-light"
                   href="{{ url_for('project_tags',{
                       user_name: project.get_admin_user().flow_user_name ,
                       project_name: project.flow_project_title
                   } )
                   }}">
                    Tags
                </a>
            </li>

            <li class="list-group-item">
                <a class="btn btn-outline-primary border border-light"
                   href="{{ url_for('list_entries',{
                       user_name: project.get_admin_user().flow_user_name ,
                       project_name: project.flow_project_title
                   } )
                   }}">
                    Entries
                </a>
            </li>


            {% if project.get_current_user_permissions().can_edit %}
                <li class="list-group-item">
                    <a class="btn btn-outline-primary border border-light"
                       href="{{ url_for('project_resources',{
                           user_name: project.get_admin_user().flow_user_name ,
                           project_name: project.flow_project_title
                       } )
                       }}">
                        Resources
                    </a>
                </li>
            {% endif %}

            {% if project.get_current_user_permissions().can_edit %}
                <li class="list-group-item">
                    <a class="btn btn-outline-primary border border-light"
                       href="{{ url_for('project_history',{
                           user_name: project.get_admin_user().flow_user_name ,
                           project_name: project.flow_project_title
                       } )
                       }}">
                        History
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</div>